<template>
  <div>
    <div class="wrap">
      <div class="login">
        <el-card class="box-card">
          <div slot="header" class="clearfix" size="small">
            <span class="deli">欢迎登录</span>
          </div>
          <el-form class="demo-ruleForm" size="small" v-model="Loginword">
            <el-form-item prop="usename">
              <el-input type="text" v-model="Loginword.usename">
                <template slot="prepend">
                  <i class="el-icon-user-solid"></i>
                </template>
              </el-input>
            </el-form-item>
            <el-form-item prop="password">
              <el-input type="password" v-model="Loginword.password">
                <template slot="prepend">
                  <i class="el-icon-lock"></i>
                </template>
              </el-input>
            </el-form-item>

            <el-form-item>
              <el-button type="primary" style="width: 100%" @click="handClick()"
                >提交</el-button
              >
            </el-form-item>
          </el-form>
        </el-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      Loginword: {
        usename: "admin",
        password: "123456",
      },
    };
  },
  created() {},
  mounted() {},
  methods: {
    handClick() {
      fetch(
        `http://localhost:8889/api/private/v1/login?username=${this.Loginword.usename}&password=${this.Loginword.password}`,
        {
          method: "POST",
          //   headers:{
          //         'Accept':'application/json',
          //         'Content-Type':'application/json',
          //   },
          //   body:JSON.stringify(this.Loginword)
        }
      )
        .then((res) => res.json())
        .then((res) => {
            console.log(res)
          if (res.meta.status == 200) {
            this.$message({
              type: "success",
              message: res.meta.msg,
            });
          } else {
            this.$message({
              type: "warning",
              message: res.meta.msg,
            });
          }
        });
    },
  },
};
</script>

<style scoped lang="scss">
.wrap {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  background: url(../assets/images/login-bg.0899ffa6.jpg) 50% no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .login {
    width: 300px;
    background: #fff;
    border-radius: 10px;
    margin-right: 160px;
    .box-card {
      font-size: 14px;
    }

    .login-con-wrap {
      padding: 25px 15px;
      .el-from {
        .el-from-item {
          margin-bottom: 22px;
          .el-form-item__content {
            line-height: 40px;
            font-size: 14px;
            position: relative;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}
</style>
